<a href="https://colab.research.google.com/github/Leeminjun21/Python_Class/blob/main/10%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
def func1():
    print("BlockDMask")

# 함수 호출
func1()
func1()
func1()

for i in range(3):
    func1()

BlockDMask
BlockDMask
BlockDMask
BlockDMask
BlockDMask
BlockDMask

In [7]:
def func2(a, b):
    print(f'{a} 곱하기 {b} = {a * b}')

# 함수 호출
func2(1, 2)
func2(1, 1)
func2(3, 4)

1 곱하기 2 = 2
1 곱하기 1 = 1
3 곱하기 4 = 12

In [14]:
def func3():
    return "abcdefg"

# 함수 호출

a = func3()
print(a , 'GG' , sep=" " )

abcdefg GG

In [17]:
def func4(a, b):
    return a * b

# 함수 호출
a = input()
c = func4(int(a),9)    # input 함수를 사용한 a는 문자이기 때문에 숫자로 바꿔준다
print(c)

2
18

In [25]:
def gugudan(num):
    for i in range(1, 10):
        print(f'{num} x {i} = {num * i}')
    print()
# 구구단 출력

gugudan(2)

gugudan(3)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [41]:
# 예제 1 - LMJ

def func1(a , b=5, c=10):
    return a + b + c

print(func1(1, 2, 3))
print(func1(1,2))
print(func1(a=1))

print()
# 예제 2 - LMJ

def func2(a=10, b=20):
    return a + b

print(func2(1, 2))
print(func2(1))
print(func2())

6
13
16

3
21
30

In [47]:
def func3(a=10,b,c): # error
		return a + b + c

func3(1, 2)   # 1이 a이고 2가 b에 들어가는거겠지?
							# 뭘 원하는거야? error
func3( , 1,2) # 뭐 이렇게 호출해야하나? error

SyntaxError: non-default argument follows default argument (<ipython-input-47-77671aaabe7d>, line 1)

In [53]:
def func6(*args):
    a = 0
    for i in args:
        a = a + i
    return a

b = func6(1, 5)
print(b)

c = func6(2, 1, 3, 2)
print(c)

d = func6(1,2,3,4,5,6,7,8)
print(d)

e = func6()
print(e)

6
8
36
0

In [54]:
def test(*val):
    for i in val:
        print(i)

test(1, 'a', 'b', 'c')

1
a
b
c

In [59]:
def sum_mul(choice, *val):
    if choice == 'sum':
        result = 0
        for i in val:
          result = result + i
    elif choice == 'mul':
        result = 1
        for i in val:
          result = result * i
    print()
    return result

print(sum_mul('sum', 1,2,3,4,5 ))
print(sum_mul('mul', 1,2,3,4,5 ))

15

120

In [61]:
def comp(score=0):
    if score == 0:
        return 0
    elif score > 50:
        return 2
    else:
        return 1

grade = comp(40)
print("Grade is ", grade, " for ", 40)

grade = comp(80)
print("Grade is ", grade, " for ", 80)

grade = comp()
print("Grade is ", grade, " for ", "for no score")

Grade is  1  for  40
Grade is  2  for  80
Grade is  0  for  for no score

In [67]:
def report(name, age, score):
    print(name, score)

report(age =21, name="LEE", score=100)
report("LEE", 21, 100)

LEE 100
LEE 100